
@font-face{
  font-family: arbeit;
  src: url(./fonts/arbeit-medium.woff2)
}



* {
  box-sizing: border-box;
  color: white;
  font-family: 'Heebo', sans-serif;
}


body{
  background: linear-gradient(180deg, rgb(12, 16, 19) 15%, rgb(50, 63, 73) 100%);
}

header.header, main.main{
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

section{
  padding: 40px 120px;
  position: relative;
}

span.green{
  color: #8FE388;
}
span.blue{
  color: #87c3e0;
}

h1{
  font-size: 65px;
  font-weight: 800;
  padding-top: 50px;
  font-family: 'Heebo', sans-serif;
}


h1.section-title{
  position: absolute;
  font-size: 50px;
  left: 10px;
  margin-left: 20px;
  top: 100px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(-180deg) !important;
}

p{
  font-size: 22px;
  font-family: arbeit;
}

.tw-heading{
  font-size: 65px;
}

/*header*/
header.header {
  left: 0;
  right: 0;
  padding: 0 120px;
}

div.nav {
  float: right;
  margin-right: -30px;
  height: 80px;
  display: flex;
}

div.nav a {
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: auto;
  display: block;
  margin-right: 30px;
  transition: .4s ease;
  background: linear-gradient(to right, #eee 43%, #8FE388 53%) left;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.nav a:hover{
  background-position: right;
  cursor: pointer;
}

img.logo{
  height: 80px;
}

img.logo:hover{
  cursor: pointer;
}

/*Hero*/

section#hero{
  position: static;
}

a.intro-link{
  text-decoration: none;
  transition: .5s ease;
  background: linear-gradient(to right,#87c3e0 43%, #8FE388 53%) left;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.intro-link:hover{
  background-position: right;
  cursor: pointer;
}

h1.intro{
  padding-top: 60px;
}

/*work*/
section#work{
  position: relative;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  justify-content: space-between;
}

.project-container{
  width: 33%;
}

.project-container.selected{
  width: 100%;
}

.project{
  padding: 14px;
  transition: all 0.1s ease;
}

.selected-project{
  display: flex;
  padding: 0;
  transition: all .15s ease;
}

.selected-project div{
  padding: 14px;
}

.selected-project h4{
  font-size: 32px;
  margin-bottom: 20px;
}

.project:hover{
  cursor: pointer;
}

.project-info-container{
  height: 100%;
  position: relative;
  flex: 21;
}

.project-image-container{
  flex: 19;
}

.project-description p {
  font-size: 16px;
  font-family: arbeit;
}

div.project-description{
  padding: 0;
}

.selected-project .project-image{
  border-radius: 4px 4px 0 0;
}

div.link-container{
  padding: 0;
  position: relative;
  bottom: 0px;
  display: flex;
  margin-top: -3px;
  border-top: solid black 1px;
  display: none;
}

.selected-project a.project-link{
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  padding: 14px;
  font-size: 20px;
  color: black;
  transition: all 0.3s ease;
}

a.live{
  background: linear-gradient(to left, #6aac65 33%, #8FE388 66%) right;
  background-size: 300%;
  border-radius: 0 0 0 6px;
}
a.repo{
  background: linear-gradient(to right, #628fa5 33%, #87c3e0 66%) left;
  background-size: 300%;
  border-radius: 0 0 6px 0;
}

a.live:hover{
  background-position: left;
}
a.repo:hover{
  background-position: right;
}

.project-image{
  margin-top: 4px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
  transition: all 0.1s ease;
}

.project:hover .project-image{
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.6);
  margin-top: 0px; 
  margin-bottom: 4px;
}

h2.project-title{
  font-size: 50px;
  font-weight: 600;
  padding-top: 0;
  margin-bottom: 14px;
}


@keyframes Bounce{
  0%, 100% {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  20%{
    margin-bottom: 8px;
    margin-top: 2px;
  }
  40%{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  45%{
    margin-bottom: 2px;
    margin-top: 8px;
  }
  50%{
    margin-bottom: 0px;
    margin-top: 10px;
  }
  55%{
    margin-bottom: 2px;
    margin-top: 8px;
  }
  60% {
    margin-bottom: 5px;
    margin-top: 5px;
  } 
  80%{
    margin-bottom: 8px;
    margin-top: 2px;
  }

}


/*Bio*/

.bio-photo{
  float: left;
  width: 33%;
  margin: 40px;
  margin-left: 0;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

p.bio-text{
  letter-spacing: 0.06em;
  margin: 40px 0;
}

/*contact*/

section#contact{
  clear: both;
}
a.contact-link{
  padding-left: 20px;
  position: relative;
  bottom: 12px;
  font-size: 50px;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  transition: .5s ease;
  color: white;
}
a.contact-link span.tw-heading{
  font-size: 50px;
}
div.contact-link-container:hover{
  cursor: pointer;
}
div.contact-link-container:hover span.tw-heading{
  color: #8FE388 !important;
}

div.contact-link-container:hover .Typewriter__cursor{
  visibility: visible; 
}
.contact-link-container{
  margin-bottom: 20px;
}

section#contact .Typewriter__cursor{
  visibility: hidden;
}

